@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

:root {
  --bg-color: #23424a;
  --primary-color: #072a2d;
  --secondary-color: #38cfd9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  padding: 100px 0;
  background: var(--bg-color);
  color: white;
}

.header__content {
  width: 75%;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: bold;
  font-size: 21px;
  padding: 1rem 3rem;
  border-radius: 100px;
  transition: transform 150ms ease;
  transition: opacity 150ms ease;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
  transform: scale(1.05);
}

.mb-4 {
  margin-bottom: 4rem;
}
