/* 
////// For this challenge ///////

- All text is in the text.md file

** Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
  transition: opacity 350ms ease, transform 350ms ease;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
  transform: scale(1.05);
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  /* display: flex => flex container */
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.hero__text {
  width: 60%;
}

.hero__img {
  align-self: flex-start;
}

.content {
  padding: 3rem 0;
}

.content__text {
  width: 60%;
  padding: 2rem 0;
}

.content--title {
  color: #136c72;
}

.content__sidebar {
  background: #136c72;
  color: white;
  padding: 2rem;
  width: 35%;
  text-align: center;
}
